body {
  background-color: black;
  text-align: center;
}

.game {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

/* Player CSS */

.background-player {
  background-color: #d4f3ef;
  border: 1px solid black;
  width: 43rem;
  height: 54rem;
  justify-content: center;
}

.background-desc {
  margin-top: 2rem;
  background-color: #383e56;
  color: white;
  padding: 1rem;
}

.background-desc small {
  font-size: 1.3rem;
}

.choices {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.rock,
.paper,
.scissor {
  margin: 1rem;
  background-color: white;
  border-radius: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.rock:hover {
  background-color: #1b6ca8;
  cursor: pointer;
}
.paper:hover {
  background-color: #1b6ca8;
  cursor: pointer;
}
.scissor:hover {
  background-color: #1b6ca8;
  cursor: pointer;
}

.rock img {
  width: 8rem;
  height: 8rem;
}

.paper img {
  width: 8rem;
  height: 8rem;
}

.scissor img {
  width: 8rem;
  height: 8rem;
}

/* AI CSS */

.background-ai {
  background-color: bisque;
  border: 1px solid black;
  width: 43rem;
  height: 54rem;
}

.background-ai img {
  width: 13rem;
  height: 13rem;
}

.ai-choice {
  margin-top: 3rem;
}

.ai-announcement {
  visibility: hidden;
}

.background-ai .ai-rock img {
  width: 7rem;
  height: 7rem;
}
.background-ai .ai-paper img {
  width: 7rem;
  height: 7rem;
}
.background-ai .ai-scissor img {
  width: 7rem;
  height: 7rem;
}

/* OTHER CSS */

.start-game {
  background-color: white;
  margin-top: 25%;
  margin-bottom: 25%;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.match-timer {
  margin-top: 1rem;
}

@media (max-width: 700px) {
  .rock img {
    width: 8rem;
    height: 8rem;
  }

  .paper img {
    width: 8rem;
    height: 8rem;
  }

  .scissor img {
    width: 11rem;
    height: 11rem;
  }

  .background-ai img {
    width: 11rem;
    height: 11rem;
  }
}
